.leaflet-overlay-pane svg {
    -webkit-user-select: none !important;  /* Safari, Chrome, Android */
    -moz-user-select: none !important;     /* Firefox */
    -ms-user-select: none !important;      /* Internet Explorer/Edge Legacy */
    user-select: none !important;          /* Standard moderne */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    flex: 1;
    background-color: #f0f0f0;
    height: 100%;
    width: 75%; /* Ajustez pour donner de la place à la sidebar */
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 25%;
    height: 100%;
    background-color: white;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    margin: 0;
}

#sidebar h2 {
    margin-top: 0;
}

#velo-info-container, #completed-tours-container {
    max-height: 300px;
    overflow-y: auto;
}

.velo-info, .completed-tour-info {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

/* Styles des éléments sur la carte */
.nodes circle {
    fill: #3498db;
}

.nodes .depot {
    fill: #e74c3c;
}

.nodes .label {
    font-size: 10px;
    pointer-events: none;
}

.links line {
    stroke: #ccc;
    stroke-width: 2px;
}

.links .link {
    stroke: #ddd;
}

.velos circle {
    fill: #2ecc71;
}

.tournee {
    fill: none;
    stroke: #3498db;
    stroke-width: 2px;
    stroke-dasharray: 4;
}

.completed-tour {
    fill: none;
    stroke: #9b59b6;
    stroke-width: 2px;
}

/* Styles pour les rues */

.link.Rue-Croix-Baragnon { stroke: red; }
.link.Rue-des-Arts { stroke: blue; }
.link.Rue-Pargaminières { stroke: green; }
.link.Rue-Saint-Rome { stroke: purple; }
.link.Rue-Saint-Antoine-du-T { stroke: orange; }
.link.Rue-de-la-Fonderie { stroke: pink; }
.link.Rue-Peyrolières { stroke: brown; }
.link.Rue-Genty-Magre { stroke: grey; }
.link.Rue-d-Alsace-Lorraine { stroke: yellow; }
.link.Rue-Peyras { stroke: magenta; }
.link.Rue-du-Taur { stroke: cyan; }
.link.Allée-Jean-Jaurès { stroke: rgb(0, 0, 0); }
.link.Rue-du-May { stroke: navy; }
.link.Rue-des-Filatiers { stroke: teal; }
.link.Rue-Mage { stroke: coral; }
.link.Rue-d-Espinasse { stroke: gold; }
.link.Rue-des-Gestes { stroke: darkgreen; }
.link.Quai-de-la-Daurade { stroke: darkred; }
.link.Rue-Bédelières { stroke: darkblue; }
.link.Rue-Merlane { stroke: darkorange; }
.link.Rue-Vélane { stroke: darkcyan; }
.link.Rue-Étroite { stroke: darkviolet; }
.link.Rue-des-Tourneurs { stroke: darkgoldenrod; }
.link.Rue-de-la-Trinité { stroke: darkslateblue; }

/* Stroke width and other properties for all links */
.link {
    stroke-width: 2;
}
