/* assets/css/styles.css */
body, html {
    height: 100%;
    margin: 0;
}

#graph-container {
    display: flex;
    height: 100vh;
}

#map {
    flex: 1;
    height: 100%;
}

#sidebar {
    width: 300px; /* Ajustez selon vos besoins */
    overflow-y: auto;
    background: #f8f8f8;
    padding: 10px;
}


#sidebar h2 {
    margin-top: 0;
}

.velo-info, .completed-tour-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.tournee {
    stroke: red;
    stroke-width: 2px;
    fill: none;
}

.completed-tour {
    stroke: blue;
    stroke-width: 2px;
    fill: none;
}

/* css rues */
/* styles.css */
.link.Rue-Croix-Baragnon { stroke: red; }
.link.Rue-des-Arts { stroke: blue; }
.link.Rue-Pargaminières { stroke: green; }
.link.Rue-Saint-Rome { stroke: purple; }
.link.Rue-Saint-Antoine-du-T { stroke: orange; }
.link.Rue-de-la-Fonderie { stroke: pink; }
.link.Rue-Peyrolières { stroke: brown; }
.link.Rue-Genty-Magre { stroke: grey; }
.link.Rue-d-Alsace-Lorraine { stroke: yellow; }
.link.Rue-Peyras { stroke: magenta; }
.link.Rue-du-Taur { stroke: cyan; }
.link.Allée-Jean-Jaurès { stroke: lime; }
.link.Rue-du-May { stroke: navy; }
.link.Rue-des-Filatiers { stroke: teal; }
.link.Rue-Mage { stroke: coral; }
.link.Rue-d-Espinasse { stroke: gold; }
.link.Rue-des-Gestes { stroke: darkgreen; }
.link.Quai-de-la-Daurade { stroke: darkred; }
.link.Rue-Bédelières { stroke: darkblue; }
.link.Rue-Merlane { stroke: darkorange; }
.link.Rue-Vélane { stroke: darkcyan; }
.link.Rue-Étroite { stroke: darkviolet; }
.link.Rue-des-Tourneurs { stroke: darkgoldenrod; }
.link.Rue-de-la-Trinité { stroke: darkslateblue; }

/* Stroke width and other properties for all links */
.link {
    stroke-width: 2;
}

